<%- include('../partials/header') %>
  <form action="/skills" method="POST">
    <input type="text" name="name">
    <input type="text" name="type">
    <button type="submit">Save Skill</button>
  </form>
<%- include('../partials/footer') %>